node_modules
client/node_modules
server/node_modules

.env
client/.env
server/.env

.DS_Store
client/.DS_Store
server/.DS_Store

*.txt
client/*.txt
server/*.txt

TODO
client/TODO
server/TODO

.next
client/.next
server/.next