/* Global Styles */

:root {
  --primary-color: #28a745;
  --dark-bg-color: #343a40;
}

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.green-border {
  border: 1px solid var(--primary-color);
}

.bold-green-border {
  border: 2px solid var(--primary-color) !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nprogress .bar {
  height: 4px !important;
  background: var(--primary-color) !important;
}

.bold-btn {
  font-weight: 500;
  border: 1.45px solid;
}

.badge {
  font-size: 1em;
  padding: 5px;
}

.eye-btn {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.link-list {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
}

.admin-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.underline {
  text-decoration: underline;
}

.not-underline {
  text-decoration: none !important;
}

.bolder {
  font-weight: bolder;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.upload-image-btn {
  margin-bottom: 0;
}

/* Layout.js */
.nav {
  height: 65px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}

/* alerts.js */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x-btn {
  font-weight: 500;
  font-size: 1.25em;
  cursor: pointer;
}

/* Home Page  */
.category-link {
  border: 1px solid var(--primary-color);
}

.category-img {
  width: 100px;
  height: auto;
}

/* Stocks */
.quill {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.category-list {
  max-height: 100px;
  overflow-y: scroll;
}

.category-content {
  border: 1px solid var(--primary-color);
}

.stock-url {
  font-size: 12px;
}

.stock-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stock-info {
  border: 1px solid var(--primary-color);
  padding: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 77%;
}

.list-of-trending-stocks {
  margin-left: -1%;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white-hover:hover {
  color: #fff !important;
}

/* Responsive Styling */

@media screen and (max-width: 600px) {
  .list-of-trending-stocks {
    margin-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .homepage-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .postedBy-homepage {
    position: relative !important;
    left: 50% !important;
  }

  .admin-categories {
    margin: 0 5%;
  }

  .user-stocks {
    margin-top: 35px;
  }

  .stock-ratings {
    margin-top: 30px;
  }

  .delete-stock-admin {
    margin-right: 7px;
  }

  .popular-in-category {
    margin-top: 15px;
  }

  .postedBy-category {
    position: relative;
    left: 25%;
  }

  .category-view-image {
    position: relative;
    left: 20%;
  }

  .category-admin {
    position: relative;
    left: 38%;
  }

  .home-img {
    position: relative;
    left: 30%;
  }

  .home-title {
    position: relative;
    left: 30%;
  }

  .list-of-categories {
    margin: 0 17%;
  }
}

@media screen and (max-width: 992px) {
  /*  */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .homepage-category-title {
    margin-left: 15px;
  }

  .postedBy-homepage {
    position: relative !important;
    right: 60px !important;
  }

  .admin-category-title {
    position: relative !important;
    right: 25% !important;
  }

  .forgot-password-link {
    position: relative;
    right: 60%;
  }
}

@media screen and (min-width: 993px) {
  .admin-category-title {
    position: relative !important;
    right: 30% !important;
  }
}

/* FIX */
/* Mobile view homepage */
/* Category view */
